{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="free design template, CSS template, HTML website" />
<meta name="description" content="Free Design Template, Free CSS Website, XHTML CSS layout" />
<link rel="stylesheet" type="text/css" href="{% static 'templatemo_style.css' %}"/>
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Book Name");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t3.value.length==0)
	{
	alert("Please Enter Author Name");
	formObj.t3.focus();
	return false;
	}
	if(formObj.t4.value.length==0)
	{
	alert("Please Enter Subject");
	formObj.t4.focus();
	return false;
	}
	if(formObj.t5.value.length==0)
	{
	alert("Please Enter Book Price);
	formObj.t5.focus();
	return false;
	}
	if(formObj.t6.value.length==0)
	{
	alert("Please Upload Image");
	formObj.t6.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
</head>
<body><br/><br/>
<!--  Download Free CSS Templates from www.templatemo.com  -->	
<div id="templatemo_header_panel">
	<div id="templatemo_header_section">
    	<div id="templatemo_title_section"><center>ONLINE BOOK STORE</center></div>
        <div id="tagline"></div>
    </div>
</div> <!-- end of haeder -->

<div id="templatemo_menu_panel">
    <div id="templatemo_menu_section">
        <ul>
			<li><a href="{% url 'AdminHome' %}" class="current">Home</a></li>  
            <li><a href="{% url 'AddBook' %}">Add Book</a></li>
			<li><a href="{% url 'Delete' %}">Remove Product</a></li>
			<li><a href="{% url 'UpdatePrice' %}">Update Price</a></li>
			<li><a href="{% url 'ViewPurchase' %}">Bookings History</a></li>
			<li><a href="{% url 'ViewBooks' %}">View Books</a></li>
			<li><a href="{% url 'ViewRatings' %}">View Ratings</a></li>
			<li><a href="{% url 'ManageOrders' %}">Manage Orders</a></li>
            <li><a href="{% url 'index' %}" class="last">Logout</a></li>                
        </ul> 
</div> <!-- end of menu -->
<br/>
	<center>
	<form name="f1" method="post" action={% url 'AddBookAction' %} enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h2><b>Add Book Screen</b></h2>
   <br/>
	<font size="" face="verdana" color="red"><center>{{ data|safe }}</center></font>
						
						<table align="center" width="40" >
			 <tr><td><b>Book&nbsp;Name</b></td><td><input type="text" name="t1" style="font-family: Comic Sans MS" size=30/></td></tr>
         
		  <tr><td><b>Category</b></td><td><select name="t2">
		  <option value="Software">Software</option>
		  <option value="Hardware & Networking">Hardware & Networking</option>
		  <option value="Database">Database</option>
		  <option value="English Literature/Fiction">English Literature/Fiction</option>
		  </select>
		  </td></tr>

		  <tr><td><b>Author&nbsp;Name</b></td><td><input type="text" name="t3" style="font-family: Comic Sans MS" size=30/></td></tr>

		  <tr><td><b>Subject</b></td><td><input type="text" name="t4" style="font-family: Comic Sans MS" size=30/></td></tr>

		  <tr><td><b>Cost</b></td><td><input type="text" name="t5" style="font-family: Comic Sans MS" size=30/></td></tr>

		  <tr><td><b>Book&nbsp;Image</b></td><td><input type="file" name="t6" style="font-family: Comic Sans MS" size=30/></td></tr>
         
			<tr><td></td><td><input type="submit" value="Add Book"></td>
			</table>
				</div>	
					
				</div>
				
</body>
</html>