{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="free design template, CSS template, HTML website" />
<meta name="description" content="Free Design Template, Free CSS Website, XHTML CSS layout" />
<link rel="stylesheet" type="text/css" href="{% static 'templatemo_style.css' %}"/>
</head>
<body><br/><br/>
<div id="templatemo_header_panel">
	<div id="templatemo_header_section">
    	<div id="templatemo_title_section"><center>ONLINE BOOK STORE</center></div>
        <div id="tagline"></div>
    </div>
</div> <!-- end of haeder -->

<div id="templatemo_menu_panel">
    <div id="templatemo_menu_section">
	<ul>
	  <li><a href="{% url 'index' %}"  class="current">Home</a></li>
      <li><a href="{% url 'Admin' %}">Administrator</a></li>
	  <li><a href="{% url 'Login' %}">Existing&nbsp;User</a></li>
	  <li><a href="{% url 'Register' %}">New&nbsp;User</a></li>
	 
			
		</ul>
       
    </div>
</div> <!-- end of menu -->
<br/>
<table align="center" width="80%">
			<tr>
			<td>
				<div style="text-align: center;">
					<img src="{% static 'images/banner1.png' %}" alt="home page" style="width: 60%; height: 40%; margin: 0 auto;">
				</div>
</td>
			</tr>
	
</body>
</html>